archive/
venv/
.venv
.ipynb_checkpoints/
*pycache*
.env.gemini
*AI*.md
__pycache__/
.DS_Store
.env

.svelte-kit
.vscode

gcp-venv
papers/*
results/*
samples/*

data/brugada-huca/
data/lifecare/
data/ptbxl